@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 20px;
}

.header , .footer{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

.footer{
  background-color: rgb(212, 212, 212);
}

ul{
  display:flex;
  list-style-type: none;
  margin: 5px;
  gap: 20px;
}

.left-links{
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: #666;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}