body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    size: 16px;  
    margin: 0px;
}

h1{
    font-size: 48px;
    color: #F9FAf8;
    font-weight: 900;
}

h2{
    font-size: 18px;
    color: #E5E7EB;
}

h3{
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
  display:flex;
  list-style-type: none;
  margin: 5px;
  gap: 20px;
}

.header,.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAf8;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 0px;
}

.header-right{
    font-size: 12px;
}

a {
  text-decoration: none;
  color: #F9FAf8;
}

.hero-right{
    display: flex;
    max-width: 200px;
}

img {
    width: 200px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 100px;
}

button {
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAf8;
    border-radius: 5px;
    border: 0px;
    height: 25px;
}


.mid-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 25px;
}
.mid-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    gap: 6px;
    width: 125px;
}

.mid-holder img{
    width: 125px;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.lower-section{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.lower-text{
   color: #1F2937;
   font-size: 28px;
   font-style:italic;
   justify-content: left;
}

.lower-text-quote{
    color: #1F2937;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
}

.call-to-action{
    display: flex;
    margin: 40px;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 10px;
    padding-right: 20px;
    justify-content: center;
    align-items: left;
}

.lower-button {
    color:  #F9FAf8;
    border: 2px, solid, #F9FAf8;
}

h4 {
    color:  #F9FAf8;
}

.botton-text{
    font-size: 14px;

}
